body{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

	.image {
		border-radius: 6px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 6px;
			display: block;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

  #info{
    max-width: 90%;
    height: 200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    font-family: "Georgia";
  }

  select.fillparent{
    width:100%;
  }

  input.fillparent{
    width:49%;
  }

  textarea.fillparent{
    width:100%;
  }

  div.contact{
    max-width: 40%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    font-family: "Georgia";
    padding: 50px 30px 50px 30px;
  }

  div.row{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .button {
      background-color: #700000;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

  .button.reset {
      background-color: #707070;
  }

  .button.send{
    background-color: #006600;
  }

  .button.image{
    background-color: #707070;
    width: 150px;
  }
